config_base_url=http://baseurl
config_index_page=index.php (leave blank for index-less)
config_encryption_key=http://randomkeygen.com/
config_site_name=sitename
config_site_tagline=site tagline
config_time_add=#
config_student_pagesize=10
route_default_controller=defaultcontroller
db_default_hostname=hostname
db_default_username=username
db_default_password=password
db_default_database=database
